.container {
    display: grid;
    place-items: center; 
    gap: 40px
}
h1{
    background-color: rgb(161, 161, 216);
}
form{
    display: grid;
    place-items: center; 
    font-size: 1.3em;
    background-color: rgb(147, 147, 197);
}
p{
    font-size: 1.3em;
    color: blue;
}
button{
   font-size: 0.8em;
}