.container {
    display: grid;
    place-items: center; 
    gap: 50px
}
p{
    display: inline;
    color: rgb(68, 68, 114);
}
a{
    display: inline;
    color: blue;
}
.regist{
    margin-top: 40px;
    font-size: 1.5em;
}
h1{
    background-color: rgb(161, 161, 216);
}