.container {
    display: grid;
    place-items: center; 
    gap: 30px;
}
h1{
    background-color: rgb(161, 161, 216);
}
.driver_data{
    background-color: aqua;
    font-size: 1em;
}
a{
    color: blue;
    font-size: 1em;
}