{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Choose Payment Method</title>
    <link rel="stylesheet" href="{% static 'yandex/styles/choose_payment_method.css' %}">
</head>
<body class="container">
    <h1>Choose Payment Method</h1>
    <form method="post">
        {% csrf_token %}
       <div><button type="submit" name="payment_method" value="cash">Cash</button></div>
       <div><button type="submit" name="payment_method" value="card">Card</button></div>
    </form>
</body>
</html>